* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  height: 100vh; /* Utiliza vh para el alto completo */
  display: flex;
  flex-direction: column;
  background-color: white; /* Fondo blanco */
}

header {
  text-align: center;
  padding: 1.5 rem 0; /* Espacio superior e inferior */
}
h1 {
  color: #206c71; /* Color principal */
  font-size: 2rem; /* Tamaño del título */
  margin-bottom: 0.5rem; /* Espacio debajo del título */
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #206c71; /* Fondo del nav ajustado */
}

nav ul li {
  margin-right: 1rem; /* Espaciado entre elementos del nav */
}

nav ul li a, nav a {
  color: white; /* Ajuste para mejorar la legibilidad y consistencia */
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem; /* Relleno para los enlaces para mejorar la interacción */
}

nav a:hover {
  background-color: #A87C7C; /* Fondo al pasar el mouse */
}

.active {
  font-weight: bolder; /* Resalta el enlace activo */
}

main, footer, header, nav {
  width: 100%; /* Asegura el llenado completo del ancho */
}

main {
  flex: 1; /* Permite que main ocupe el espacio disponible */
  padding: 1rem;
}

article {
  margin: auto;
  width: fit-content;
}

table {
  width: 100%;
  max width: 70 rem;
  margin-bottom: 2rem;
  border-collapse: collapse;
  border: 0.2rem solid silver; /* Corrección de sintaxis en el borde */
}

tr, td {
  padding: 1rem; /* Ajuste del relleno para celdas */
  border: 0.2rem solid silver; /* Ajuste de la sintaxis del borde */
  font-size: 1rem; /* Tamaño de fuente grande para mejor legibilidad */
  text-align: left;
}

label {
  display: block;
  padding-top: 0.75rem; /* Ajuste del padding superior */
  font-size: 1rem; /* Ajuste del tamaño de la fuente para consistencia */
}

input{
  width: 100%; /* Asegura que los inputs y botones llenen el espacio disponible */
  padding: 1.5rem; /* Aumento de padding para mejor accesibilidad */
  font-size: 1rem; /* Tamaño de fuente aumentado para mejor legibilidad */
}

button {
    padding: 1rem 1.5rem; /* Relleno más grande para un botón más accesible */
    font-size: 1rem; /* Tamaño de fuente grande para el texto del botón */
    background-color: #206c71; /* Color de fondo para el botón */
    color: white; /* Color de texto para el botón */
    border: none; /* Sin bordes para un diseño limpio */
    border-radius: 0.5rem; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano al pasar el mouse */
}
footer {
  padding: 0.5rem 0; /* Relleno uniforme en el footer */
  background-color: #206c71; /* Color de fondo del footer */
  color: white; /* Texto del footer */
  text-align: center; /* Alineación del texto en el footer */
  position: fixed; /* Fija el footer en la parte inferior */
  bottom: 0; /* Posiciona el footer en la parte baja de la pantalla */
}
