* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('./Fotos/SpringPilates.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
}

header {
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}

h1 {
  color: #206c71;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  padding-left: 40px;
}

p {
  color: #333333; /* Un gris oscuro para contrastar con el fondo */
  font-size: 1rem;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5); /* Opcional: añade sombra para mejorar la legibilidad */
  padding-left: 40px;
}

.button-container {
  position: fixed;
  bottom: 100px; /* Ajustado para dejar más espacio sobre el footer */
  width: 100%;
  text-align: center;
  z-index: 10;
}

button {
  background-color: #164d4f; /* Cambiado a un tono más azul */
  color: white;
  padding: 15px 30px; /* Botones más grandes */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.1rem; /* Tamaño de fuente más grande para mayor legibilidad */
}

button:hover {
  background-color: #1a5c7a; /* Color más oscuro para hover */
}

footer {
  padding: 1rem 0; /* Ajusta el padding según sea necesario */
  background-color: #164d4f; /* Mantén tu color deseado */
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex; /* Usa flexbox para alinear los elementos horizontalmente */
  justify-content: space-around; /* Distribuye el espacio alrededor de los elementos */
  align-items: center; /* Centra los elementos verticalmente */
  height: auto; /* Altura automática según el contenido */
}

.footer-item {
  margin: 0 10px; /* Espaciado entre los elementos, ajusta según sea necesario */
}
