* {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  height: 100vh; /* Utiliza vh para el alto completo */
  display: flex;
  flex-direction: column;
  background-color: white; /* Fondo blanco */
}

header {
  text-align: center;
  padding: 1 rem 0; /* Espacio superior e inferior */
}
h1 {
  color: #206c71; /* Color principal */
  font-size: 3rem; /* Tamaño del título */
  margin-bottom: 0.5rem; /* Espacio debajo del título */
}

p.welcome {
  color: #164d4f; /* Un tono más claro de azul */
  font-size: 1.5rem; /* Tamaño del subtítulo */
  margin-bottom: 0.25rem; /* Espacio antes del formulario */
}

form {
  width: 90%; /* Ancho del formulario */
  max-width: 25rem; /* Ancho máximo */
  margin: auto;
  height: 80%; /* Ancho del formulario */
  max-height:20rem; /* Ancho máximo */
  padding: 1rem; /* Padding general */
  border: 0.1rem solid #ccc;
  border-radius: 0.2rem;
  background-color: white; /* Fondo del formulario */
}


label {
  display: block;
  font-size: 1rem; /* Tamaño de las etiquetas */
  margin-top: 0.5rem; /* Espacio superior para cada etiqueta */
}

input[type="text"], input[type="email"], input[type="password"], select {
  width: 100%;
  padding: 0.5rem; /* Relleno para los campos */
  margin-top: 0.25rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.3rem;
  font-size: 0.8rem; /* Tamaño del texto dentro de los campos */
}

input[type="submit"] {
  width: 100%;
  padding: 0.5rem; /* Padding para un botón más grande */
  background-color: #206c71;
  color: white;
  border: none;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
  font-size: 1rem; /* Tamaño de fuente para el botón */
}

input[type="submit"]:hover {
  background-color: #164d4f; /* Color al pasar el ratón */
}
a {
  color: #206c71;
  padding-top: 10px;
  display: block;
  text-align: center;
  font-size:1rem;
}
.error {
  color: darkred;
  border: 2px solid darkred;
  background-color: lightpink;
  font-size:0.75 rem;
}
.success {
  color: green;
  border: 2px solid green;
  background-color: azure;
  font-size:0.75rem;
}
footer {
  margin-top: auto;
  text-align: center;
  padding: 0.5rem 0;
  width: 100%;
  background-color: #206c71;
  color: white;
  font-size: 0.75rem;
}
